In [1]:
import pandas as pd

In [16]:
data = pd.read_csv("diabetes.txt", sep="\t", header=None)

In [17]:
data

      0        1   2    3  4     5     6     7
0   NaN  Alabama   1  Yes  1  2016  2016   646
1   NaN  Alabama   1  Yes  1  2017  2017   727
2   NaN  Alabama   1  Yes  1  2018  2018   598
3   NaN  Alabama   1  Yes  1  2019  2019   701
4   NaN  Alabama   1  Yes  1  2020  2020   783
..   ..      ...  ..  ... ..   ...   ...   ...
607 NaN  Wyoming  56   No  2  2017  2017  6841
608 NaN  Wyoming  56   No  2  2018  2018  6491
609 NaN  Wyoming  56   No  2  2019  2019  6504
610 NaN  Wyoming  56   No  2  2020  2020  6087
611 NaN  Wyoming  56   No  2  2021  2021  6196

[612 rows x 8 columns]

In [18]:
data = data.loc[:, [1, 3, 5, 7]]

In [19]:
data.columns = ["state_name", "Condition","Year", "Counts"]

In [20]:
data.to_csv("diabetes.csv", index=False)

In [27]:
data = pd.read_csv("bmi.txt", sep="\t", header=None)

In [28]:
data = data.loc[:, [1, 3, 5]]

In [29]:
data.columns  = ["Condition", "BMI", "Counts"]

In [30]:
data.to_csv("bmi.csv", index=False)

In [31]:
data = pd.read_csv("race.txt", sep="\t", header=None)

In [33]:
data = data.loc[:, [1, 3, 5]]

In [34]:
data.columns  = ["Condition", "RACE", "Counts"]

In [35]:
data.to_csv("race.csv", index=False)

In [36]:
data = pd.read_csv("weight_gain.txt", sep="\t", header=None)

In [38]:
data = data.loc[:, [1, 3, 5]]

In [39]:
data.columns  = ["Condition", "Weight_Gain", "Counts"]

In [41]:
data.to_csv("weight_gain.csv", index=False)

In [51]:
d1 = pd.read_csv("prev_preterm.txt", sep="\t", header=None)

In [52]:
d1 = d1.loc[:, [1, 3, 5]]

In [53]:
d1.columns = ["Year", "Condition", "Prev_Preterm"]

In [59]:
d2 = pd.read_csv("gestational_hypertension.txt", sep="\t", header=None)

In [60]:
d2 = d2.loc[:, [1, 3, 5]]

In [61]:
d2.columns = ["Year", "Condition", "Gestational_HTN"]

In [62]:
d3 = pd.read_csv("gestational_diabetes.txt", sep="\t", header=None)

In [63]:
d3 = d3.loc[:, [1, 3, 5]]

In [64]:
d3.columns = ["Year", "Condition", "Gestational_Diabetes"]

In [74]:
d4 = pd.read_csv("hypertension.txt", sep="\t", header=None)

In [75]:
d4 = d4.loc[:, [1, 3, 5]]

In [76]:
d4.columns = ["Year", "Condition", "Hypertension"]

In [71]:
d5 = pd.read_csv("diabetes_long.txt", sep="\t", header=None)

In [72]:
d5 = d5.loc[:, [1, 3, 5]]

In [77]:
d5.columns = ["Year", "Condition", "Diabetes"]

In [84]:
dd = d5.merge(d1).merge(d2).merge(d3).merge(d4)

In [90]:
dd[dd.Condition == "Yes"].iloc[:, 2:].corr()

,Diabetes,Prev_Preterm,Gestational_HTN,Gestational_Diabetes,Hypertension
Diabetes,1.000000,0.847375,0.978319,0.990730,0.993209
Prev_Preterm,0.847375,1.000000,0.913485,0.802115,0.859913
Gestational_HTN,0.978319,0.913485,1.000000,0.968100,0.990705
Gestational_Diabetes,0.990730,0.802115,0.968100,1.000000,0.990906
Hypertension,0.993209,0.859913,0.990705,0.990906,1.000000

In [93]:
dd[dd.Condition == "Yes"].iloc[:, 2:].to_csv("heatmap.csv", index=False)